<div class="card-columns">
    <article *ngFor="let post of posts" class="card w-100">
        <a [routerLink]="['/post',post.id]" class="text-decoration-none">
            <div class="card-header text-center">
                <h4>
                    {{post.title}} 
                </h4>
            </div>
            <div class="card-body">
                <div class="post-image w-100" *ngIf="post.image">
                    <img src="{{url + 'post/image/' + post.image}} " alt="" class="w-100">
                </div>
                <div class="post-image w-100" *ngIf="!post.image">
                    <img src="assets/default.png" alt="" class="w-100">
                </div>
            </div>
        </a>
        <div class="row text-center mb-1 mx-1 pb-2">
            <div class="col-md-4 col-12">
                <a [routerLink]="['/post', post.id]" class="badge badge-success w-100">Read</a>
            </div>
            <div class="col-md-4 col-12" *ngIf="identity && identity.sub == post.user_id">
                <a [routerLink]="['/post-edit', post.id]" class="badge badge-warning w-100">Edit</a>
            </div>
            <div class="col-md-4 col-12" *ngIf="identity && identity.sub == post.user_id">
                <a href="#" data-toggle="modal" [attr.data-target]="'#deleteModal'+post.id" class="badge badge-danger w-100">Delete</a>
                <div class="modal fade" id="{{ 'deleteModal' + post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Are you sure delete {{post.title}} post?</h5>
                        </div>
                        <div class="modal-footer">
                            <div class="text-left">
                                <button type="button" (click)="deletePost(post.id)" data-dismiss="modal" class="btn btn-danger">Delete post!</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </article>
</div>